<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <title>bye200</title>
</head>

<body>
    <div class="snow-container"></div>
    <div id="nav">
        <ul>
            <li><a href="index.html">me</a> / </li>
            <li><a href="interests.html">interests</a> / </li>
            <li><a href="projects.html">projects</a> / </li>
            <li><a href="posts.html">posts</a> / </li>

            {% if page.back %}
            <li><a href="javascript:history.back()" class="back-button">go back</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content">
        {{ content }}
    </div>
</body>

</html>

